---
import Layout from '../Layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Events from '../components/Events.astro';
import Cards from '../components/Cards.astro';	
import Footer from '../components/Footer.astro';
---

<Layout title="Ejercicio CDMX — Comunidad Deportiva">
<Navbar />
<main>
<Hero />
<Events />
<Cards />
</main>
<Footer />
</Layout>