---
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="text-white relative">
    <div class="fixed inset-0 z-0" style="background: radial-gradient(ellipse at bottom right, #F2597A 0%, #FAC7FF 30%, #1D1D1D 65%), radial-gradient(ellipse at top left, #ECD2FF 0%, #1D1D1D 50%); background-blend-mode: screen;">
    </div>
    <div class="relative z-10">
      <slot />
    </div>
  </body>
</html>